

<div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-xl shadow-md">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    
    <div class="space-y-2">
      <h2 class="text-xl font-semibold text-gray-800">
        Select Your Destination
      </h2>

      <mat-form-field class="w-full">
        <mat-label>Destination</mat-label>
        <mat-select>
          @for (destination of destinations; track destination.name) {
            <mat-option [value]="destination.name">
              {{ destination.viewValue }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    
    <div class="space-y-2">
      <h2 class="text-xl font-semibold text-gray-800">
        Select Departure Date
      </h2>

      <mat-form-field appearance="outline" class="w-full mat-mdc-form-field-density-compact">
        <mat-label>Departure Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="departureDate"
          [min]="minDate"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <p *ngIf="departureDate">
        Selected date: {{ departureDate | date:'longDate' }}
      </p>
    </div>

  </div>
</div>



<router-outlet></router-outlet>
